<% if @movies.empty? %>
	
	<p>No movies were found.</p>
	
<% else %>
	
	<ul id="search_results">
		<% @movies.each do |movie| %>		
			<% result_url = "/movie/#{movie.imdb_id}" %>
			<li>
				<div class="details" style="display:none;">
					<h2><a href="<%= result_url %>"><%= h movie %> <span>(<%= movie.year %>)</span></a></h2>
				</div><!-- /details -->
				<a href="<%= result_url %>" title="<%= h movie %>" class="image_link"><img src="<%= h movie.cover_url %>" alt="<%= "#{movie} cover artwork" %>" width="170px"></a>
			</li>		
		<% end %>
	</ul>
	
<% end %>