<h1><%= @movie %></h1>

<img src="<%= @movie.cover_url %>" alt="<%= "#{@movie} artwork" %>" id="movie_artwork" />


<div id="details">
	<p><a href="http://imdb.com/title/<%= @movie.imdb_id %>">View on IMDb &raquo;</a></p>
	<dl>
		<dt>Year</dt>
		<dd><%= h @movie.year %></dd>
		<dt>Duration</dt>
		<dd><%= @movie.duration %> mins</dd>
		<dt>Certification</dt>
		<dd><%= @movie.certification %></dd>
		<dt>Language</dt>
		<dd><%= @movie.language %></dd>
		<dt>Genres</dt>
		<dd><%= @movie.genres %></dd>
	</dl>
	
	<h2>Overview</h2>
	<p><%= h @movie.overview %></p>

  
  <form method="post" action="/delete/<%= @movie.imdb_id %>">
    <input name="_method" type="hidden" value="delete" />
  	<input type="submit" value="Delete" />
  </form>

</div><!-- /details -->