<h1><%= @movie %></h1>

<dl>
	<dt>Year</dt>
	<dd><%= h @movie.year %></dd>
	<dt>Duration</dt>
	<dd><%= @movie.duration %> mins</dd>
	<dt>Certification</dt>
	<dd><%= @movie.certification %></dd>
	<dt>Language</dt>
	<dd><%= @movie.language %></dd>
	<dt>Genres</dt>
	<dd><%= @movie.genres %></dd>
</dl>

<p><%= h @movie.overview %></p>

<img src="<%= @movie.cover_url %>" alt="<%= "#{@movie} artwork" %>" />

<a href="http://imdb.com/title/<%= @movie.imdb_id %>">View on IMDb</a>