<h1>Search results</h1>

<% if @movies.empty? %>
	
	<p>No movies were found.</p>
	
<% else %>
	
	<ul>
		<% @movies.each do |movie| %>		
			<% result_url = "/movie/#{movie.tmdb_id}" %>
			<li>
				<h2><a href="<%= result_url %>"><%= h movie %><span><%= movie.year %></span></a></h2>
				<a href="<%= result_url %>"><img src="<%= h movie.thumb_url %>" alt="<%= "#{movie} cover thumbnail" %>"></a>
			</li>		
		<% end %>
	</ul>
	
<% end %>