<h1>Search results</h1>

<ul>
	<% Search.attributes.each do |attribute| %>
		<% value = @search.send(attribute) %>
		<% unless value.blank? %>
			<li><%= attribute %>: <%= @search.send(attribute) %></li>
		<% end %>
	<% end %>
</ul>

<% if @movies.empty? %>
	
	<p>No movies were found.</p>
	
<% else %>
	
	<ul>
		<% @movies.each do |movie| %>		
			<% result_url = "/movie/#{movie.imdb_id}" %>
			<li>
				<h2><a href="<%= result_url %>"><%= h movie %><span>(<%= movie.year %>)</span></a></h2>
				<a href="<%= result_url %>"><img src="<%= h movie.thumb_url %>" alt="<%= "#{movie} cover thumbnail" %>"></a>
			</li>		
		<% end %>
	</ul>
	
<% end %>